@charset "utf-8";


header{
  margin: 0;
}
body {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 2;
  
}
#index .content{
  margin-top: 15;
}

#index {
  background-color: antiquewhite;
}
#index footer{
  width: 100%;
  margin: auto;
  text-align: left;
}

nav{
  margin: 0;
  text-align: center;
}

nav ul{
  width: 100%;
  text-align: center;
}
nav li{
  padding: 0px;
  list-style: none;
  margin: 4% 0 0 12%;
  text-align: center;

}

nav a{
  text-decoration: none;
  color:burlywood;
  font-size: 34px;
  margin: 0 4%;
  padding: 0 5%;
  float: left;
  display: block;
  text-align: center;
  
}
nav a:hover{
  text-decoration: none;
   color: #fff;
  font-size: 34px;
  margin: 0 4%;
  padding: 0 5%;
  float: left;
  display: block;
  text-align: center;
}

#index footer small{
  color: #fff;
  float: right;
  font-size: 20px;
  padding: 15px;
}

.sam img{
  width: 100%;
  padding: 5% 0 0 0 ;
}

.content h1{
  color: #fff;
  font-size: 60px;
  margin: 0;
  padding: 5% 0 0 0;
  display: block;
  text-align: center;
}
  .content p{
  color: #fff;
    line-height: 1;
  font-size: 60px;
  margin: 0 0 0 5%;
  padding: 1% 0 7% 0;
  display: block;
    
  text-align: center;
}
.mov video{
   width: 80%;
}

#movie{
  width: 100%;
  text-align: center;
  padding: 0;
}

#extra{
  background-color: antiquewhite;
}

#extra .content{
  margin-top: 15;
}

#extra footer{
  width: 100%;
  margin: 0;
  text-align: left;
}



#extra footer small{
  color: burlywood;
  font-size: 20px;
  float: right;
  margin-top: 5%;
  padding: 15px;
}

 
.exphoto ul{
  list-style: none;
  text-align: center;
}

.exphoto img{
  width: 80%;
  margin-top: 100px;
}

.exphoto h1{
  color: #fff;
  font-size: 60px;
  margin: 100px ;
  text-align: center;
  position:absolute;
  width: 80%;
  line-height: 1.5;
}
  







@media screen and (max-width:600px) { 
header{
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  padding: 0;
  width: 100%;
}
 
 footer{
   margin:0;
   padding:0;
   width: 100%;
  }
  
#index .content{
  margin: 0;
  padding:0;
  width: 100%;
}

#index {
  background-color: antiquewhite;
  padding:0;
  margin:0;
  width: 100%;
}
#index footer{
  width: 100%;
  margin: 0;
  text-align: left;
}

nav{
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  }
nav ul{
    text-align: center;
    padding: 3%;
    margin: 0;
    width: 100%;
  }
nav li{
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: center;
  width: 100%;
  }

nav a{
  text-decoration: none;
  color:burlywood;
  font-size: 6vw;
  margin: 0 ;
  padding: 3% 7%;
  display: inline-block;
}
nav a:hover{
  text-decoration: none;
  color:#fff;
  font-size: 6vw;
  margin: 0 ;
  padding: 3% 7%;
  display: inline-block;
  }

#index footer small{
  color: burlywood;
  font-size: 3vw;
  padding:3vw 13vw 2vw 0;
  margin: 0;
}
  
.sam img{
  width: 80%;
  padding: 0;
  margin: 2vw 0 2% 10%;
}
  
.content h1{
  color: #fff;
  font-size: 8vw;
  margin: 0;
  padding:0;
  display: block;
  text-align: center;
}
  .content p{
  color: #fff;
  font-size: 8vw;
  line-height: 1.5;
  margin: 0;
  padding: 3vw 0 0 0;
  display: block;
  text-align: center;
}
  
.mov{
   margin:0;
   padding:0;
  }
  
.mov video{
   width: 80%;
  margin:0;
   padding:0;
}

#movie{
  width:100%;
  padding: 0 ;
  margin: 6% 10% 2% 0;
  display: block;
}

#extra{
  background-color: antiquewhite;
  
}


#extra footer small{
  color: burlywood;
  font-size: 3vw;
  padding:5vw 13vw 2vw 0;
  margin: 0;
}


  #ertra section{
   margin:0;
   padding:0;
  }
  
#wrap{
  margin:0;
  padding:0;
  }

 .exphoto{
   width:100%;
   margin:0;
   padding:0;
    
  }
.exphoto ul{
  list-style: none;
  text-align: center;
  margin:0;
  padding:0;
  
}
 .exphoto li{
  padding:0;
  margin:0;
}

.exphoto img{
  width: 80%;
  margin: 2vw 0 3% 0;
  padding:0;
  
}

.exphoto h1{
  color: #fff;
  font-size: 6.0vw;
  margin: 10vw 0 0 10%;
  text-align: center;
  position:relative;
  width: 80%;
  line-height: 1.5;

}
  video{
    width: 100%;
  }
}
